
@font-face {
  font-family: 'Alfa Slab One';
  src: font-url('alfaslabone-regular-webfont.eot');
  src: font-url('alfaslabone-regular-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('alfaslabone-regular-webfont.woff2') format('woff2'),
       font-url('alfaslabone-regular-webfont.woff') format('woff'),
       font-url('alfaslabone-regular-webfont.ttf') format('truetype'),
       font-url('alfaslabone-regular-webfont.svg#alfa_slab_oneregular') format('svg');
  font-weight: normal;
  font-style: normal;
}