
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #201510;
}

button, .button {
  /* Rectangle 60: */
  background-color: #FCE93C;
  background-image: linear-gradient(-180deg, #FCE93C 0%, #F8CE1C 100%);
  box-shadow: 4px 4px 0px 0px #9C6C34, inset 2px 2px 0px 0px rgba(255,255,255,0.50);
  border-radius: 2px;
  color: #452B1D;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 0.8em;
  display: inline-block;
  transition: box-shadow .2s, top .2s, left .2s;
  position: relative;
  top: 0; left: 0;
  font-weight: 400;
  font-family: $heading-font-family;

  &:before, &:after {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    padding: 0 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: image-url('screw.svg');
    transition: transform 0.2s;
    transform: rotate(0);
  }

  &:hover {
    box-shadow: 1px 1px 0px 0px #9C6C34, inset 1px 1px 0px 0px rgba(255,255,255,0.50);
    top: 3px; left: 3px;
    color: #452B1D;

    &:before, &:after {
      transform: rotate(0.5turn);
    }
  }

  &:focus, &:active {
    color: #22150E;
  }
}

p {
  margin: 0;
}

section {
  max-width: 1024px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  margin: 0 auto;

  &.no-max-width {
    max-width: none;
  }
}

h1 {
  font-size: 34px;
  text-transform: uppercase;
  line-height: 40px;
  text-align: center;
  font-weight: 400;

  &:before {
    display: inline-block;
    content: '';
    width: 30px;
    height: 24px;
    background-image: image-url('cog-brown.svg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 20px 20px;
  }
  &:after {
    display: inline-block;
    content: '';
    width: 30px;
    height: 24px;
    background-image: image-url('cog-brown.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 20px 20px;
  }

  .content-wrapper.content-wrapper-dark & {
    color: #F9DB27;

    &:before, &:after {
      background-image: image-url('cog-yellow.svg');
    }
  }
}

@media (min-width: 768px) {
  body {
    font-size: 1.2em;
  }
}