@charset "utf-8";

@import "bourbon";
@import "base/base";
@import "neat";
@import "mixins";

@import "fonts";

$logo-ratio: 1.21805293369804;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #201510;
}

.header-wrapper {
  width: 100%;
  min-height: 100vh;
  background-image: image-url('background.jpg');
  background-size: cover;
  background-position: 50% 50%;
  
  @include border-top-yellow;

  section {
    padding: 65px 0 30px;
    text-align: center;

    .header-text, .brochure {
      width: 100%;
      margin: 25px auto 0;

      p {
        font-weight: 300;
        color: #E1D7D1;
        margin-bottom: 10px;
      }
    }

    .counter {
      width: 100%;
      margin-top: 25px;

      p {
        font-weight: 300;
        color: #FCE93C;
        font-size: 1.25em;
      }
    }

    .logo {
      width: 60%;
      padding-bottom: 60% * $logo-ratio;
      margin: 0 auto;
      height: 0;
      position: relative;
    }

    img {
      position: absolute;
      left: 0; right: 0;
      top: 0; bottom: 0;

      width: 100%;
      height: 100%;
    }
  }
}

.footer-wrapper {
  span.sdn {
    display: block;
    background: image-url('sdn.svg');
    background-repeat: no-repeat;
    background-size: 7em auto;
    background-position: center 0;

    width: 7em;
    height: (7em / $sdn_logo_ratio);
    margin-bottom: 1em;
  }

  color: #DBD7D5;

  background: image-url('background-dark.png');

  section {
    padding: 30px 0;
  }

  a {
    color: #F9DB26;
  }

  p {
    margin: 0 0 15px 0;
    max-width: 748px;
  }
}

.content-wrapper {
  background: image-url('background-light.png');
  color: #22150E;

  section {
    padding: 52px 0;
  }

  a {
    color: #22150E;
    border-bottom: 1px solid #22150E;
  }

  p {
    margin-bottom: 10px;
  }

  h2 {
    margin: 15px 0 0 0;
  }

  .divider {
    position: relative;
    top: -0.25em;
    margin: 0 0.25em;
    display: inline-block;
    height: 1px;
    width: 0.7em;
    background: #22150E;
  }

  .mc-field-group-inline {
    display: flex;
    flex-direction: row;

    width: 100%;

    .mc-field-group {
      flex-grow: 1;
      padding: 0 10px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.content-wrapper.content-wrapper-dark {
  background: image-url('background-dark.png');
  color: #E1D7D1;

  a {
    color: #F9DB26;
    border-bottom: 1px solid #F9DB26;
  }
}

.content-wrapper.content-wrapper-light {
  @include border-bottom-brown;
  @include border-top-brown;
}

button, .button {
  /* Rectangle 60: */
  background-color: #FCE93C;
  background-image: linear-gradient(-180deg, #FCE93C 0%, #F8CE1C 100%);
  box-shadow: 4px 4px 0px 0px #9C6C34, inset 2px 2px 0px 0px rgba(255,255,255,0.50);
  border-radius: 2px;
  color: #452B1D;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 0.8em;
  display: inline-block;
  transition: box-shadow .2s, top .2s, left .2s;
  position: relative;
  top: 0; left: 0;
  font-weight: 400;
  font-family: $heading-font-family;

  &:before, &:after {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    padding: 0 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: image-url('screw.svg');
    transition: transform 0.2s;
    transform: rotate(0);
  }

  &:hover {
    box-shadow: 1px 1px 0px 0px #9C6C34, inset 1px 1px 0px 0px rgba(255,255,255,0.50);
    top: 3px; left: 3px;
    color: #452B1D;

    &:before, &:after {
      transform: rotate(0.5turn);
    }
  }

  &:focus, &:active {
    color: #22150E;
  }
}

p {
  margin: 0;
}

section {
  max-width: 1024px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  margin: 0 auto;
}

h1 {
  font-size: 34px;
  text-transform: uppercase;
  line-height: 40px;
  text-align: center;

  &:before {
    display: inline-block;
    content: '';
    width: 30px;
    height: 24px;
    background-image: image-url('cog-brown.svg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 20px 20px;
  }
  &:after {
    display: inline-block;
    content: '';
    width: 30px;
    height: 24px;
    background-image: image-url('cog-brown.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 20px 20px;
  }
}

.sponsors {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;

  .sponsor {
    display: block;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: 20px;
    text-indent: -1000px;
    overflow: hidden;
    border-bottom: none;
  }
}

@media (min-width: 768px) {
  .content-wrapper {
    section {
      padding: 72px 0;
    }
  }

  .footer-wrapper {
    section {
      padding: 50px 0;
    }
  }

  body {
    font-size: 1.2em;
  }

  .header-wrapper {
    section {
      padding: 85px 0 50px;

      .header-text {
        width: 60%;
      }

      .logo {
        width: 40%;
        padding-bottom: 40% * $logo-ratio;
      }
    }
  }

  .sponsors {
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  .content-wrapper {
    section {
      padding: 102px 0;
    }
  }

  .footer-wrapper {
    section {
      padding: 80px 0;
    }
  }


  .header-wrapper {
    section {
      padding: 105px 0 80px;

      .header-text {
        width: 50%;
      }

      .logo {
        width: 30%;
        padding-bottom: 30% * $logo-ratio;
      }
    }
  }
}