<div class="content-wrapper">
  <section class="content">
    <p><a href="/">&#8592; Terug naar home</a></p>

    <h1>Colofon</h1>

    <p>
      DrupalJam wordt georganiseerd door Stichting Drupal Nederland samen met vele
      ervaren vrijwilligers. 
    </p>

    <h2>Organisatie</h2>
    <ul>
      <li><strong>Bert</strong> Boerland&nbsp;<span class="divider"></span> <a href="http://wunderkraut.nl/" target="_blank">Wunderkraut</a></li>
      <li><strong>Imre</strong> Gmelig Meijling&nbsp;<span class="divider"></span> <a href="http://www.limoengroen.nl/" target="_blank">LimoenGroen</a></li>
      <li><strong>Marja</strong> Doedens&nbsp;<span class="divider"></span> <a href="https://www.goldmund-wyldebeast-wunderliebe.nl/" target="_blank">Goldmund, Wyldebeast & Wunderliebe</a></li>
      <li><strong>Peter</strong> Grond&nbsp;<span class="divider"></span> <a href="http://www.triquanta.nl/" target="_blank">Triquanta</a></li>
      <li><strong>Rolf</strong> van de Krol&nbsp;<span class="divider"></span> <a href="http://www.hoppinger.com/" target="_blank">Hoppinger</a></li>
    </ul>

    <h2>Vormgeving</h2>
    <ul>
      <li><strong>Tamara</strong> de Haas&nbsp;<span class="divider"></span> <a href="http://www.haas-ontwerp.nl/" target="_blank">Haas Ontwerp</a></li>
    </ul>

    <h2>Website</h2>
    <ul>
      <li>Visueel ontwerp: <strong>Tamara</strong> de Haas&nbsp;<span class="divider"></span> <a href="http://www.haas-ontwerp.nl/" target="_blank">Haas Ontwerp</a></li>
      <li>Bouw: <strong>Rolf</strong> van de Krol&nbsp;<span class="divider"></span> <a href="http://www.hoppinger.com/" target="_blank">Hoppinger</a></li>
      <li>Hosting: <a href="http://www.hoppinger.com/" target="_blank">Hoppinger</a></li>
    </ul>
  </section>
</div>
