---
title: DrupalJam 2016
---

<div class="header-wrapper">
  <section class="header">
    <div class="logo">
      <img src="<%= image_path('logo-portrait.svg') %>" />
    </div>

    <div class="header-text">
      <p>Hét Drupal evenement van de Lage Landen<br />12&#8209;5&#8209;2016 &mdash; De Fabrique, Utrecht</p>
    </div>

    <div class="brochure">
      <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
      <p><a href="<%= url_for('sponsorbrochure.pdf') %>" class="button" target="_blank">Sponsorbrochure downloaden</a></p>
    </div>
  </section>
</div>

<div class="content-wrapper">
  <section class="content">
    <p>
      Op 12 mei 2016 vindt de volgende editie van DrupalJam plaats, opnieuw in 
      De Fabrique in Utrecht. Het sfeervolle industriële staat opnieuw decor 
      voor hét Drupal congres van de lage landen. Met een geweldig programma op
      een fantastische locatie is DrupalJam dé gelegenheid om te netwerken,
      kennis te delen en als bedrijf te verbinden met het populaire CMS Drupal.
      Houdt uw mailbox of de website in de gaten, want binnenkort lanceren we de
      mogelijkheden voor het sponsoren van DrupalJam 2016!
    </p>
    <p>
      Vragen of ideëen? Stuur ze naar
      <a href="mailto:drupaljam@stichtingdrupal.nl">drupaljam@stichtingdrupal.nl</a>.
    </p>

    <h2>Op de hoogte blijven</h2>

    <p>
      Wil je op de hoogte gehouden worden van de laatste ontwikkelingen over 
      DrupalJam? Kijk op onze <a href="https://www.facebook.com/groups/drupaljam/" class="facebook" target="_blank">Facebookpagina</a>
      of onze <a href="https://twitter.com/DrupalJam" class="twitter" target="_blank">Twitterpagina</a> of meld je 
      aan voor updates.
    </p>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="//stichtingdrupal.us6.list-manage.com/subscribe/post?u=f4e0eb5be8d793139a3e15a8b&amp;id=e1f4740f1e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="mc-field-group">
          <label for="mce-EMAIL">E-mailadres *</label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="mc-field-group-inline">
          <div class="mc-field-group">
            <label for="mce-FNAME">Voornaam</label>
            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
          </div>
          <div class="mc-field-group">
            <label for="mce-LNAME">Achternaam</label>
            <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
          </div>
        </div>
        <div class="mc-field-group">
          <label for="mce-COMPANY">Bedrijfsnaam</label>
          <input type="text" value="" name="COMPANY" class="" id="mce-COMPANY">
        </div>
         <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f4e0eb5be8d793139a3e15a8b_e1f4740f1e" tabindex="-1" value=""></div>
        
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">Inschrijven</button>
      </form>
    </div>
  </section>
</div>