---
title: DrupalJam 2016
---

<div class="header-wrapper">
  <section class="header">
    <img src="<%= image_path('logo-portrait.svg') %>" />
  </section>
</div>

<div class="content-wrapper">
  <section class="content">
    <h1>Nullam vitae efficitur</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel elit consequat, euismod odio a, egestas orci. Integer non efficitur justo. Quisque quis massa molestie, interdum lacus eget, fermentum erat. Aenean eget ex dolor. Nullam vitae efficitur lorem. Vivamus lacus quam, mattis in quam at, sagittis facilisis felis. Integer at orci ipsum. Suspendisse pharetra mi quis tincidunt sagittis.</p>
  </section>
</div>